<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Wrecker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <h1>Here are my movie recommendations for you!</h1>

    <h3>Here is the user input:</h3>

    {% for user_input in user_inputs %}

    <ul>

        <li>{{ user_input }}</li>
        
    </ul>
  
    {% endfor %}

    <h3>User inputs corrct titles and IDs:</h3>

    {% for title_id in titles_ids %}

    <ul>

        <li>{{ title_id }}</li>
    </ul>
    {% endfor %}

    <h2>Here are some great movies:</h2>


    {% for rec in recs %}

    <ul>

        <li class="recs">{{ rec }}</li>
    </ul>
    {% endfor %}
</body>
</html>