* {
    background-color: #91C25E;
    font-family: fantasy;
}

/* 
This
is
a
multiline
comment
*/

a:hover {
    color: hotpink;
}

.recs {
    color: #42493A;
    font-size: 26px;
}